doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Client Template
    link(rel='stylesheet', href='/css/app.css')
  body
    h1 Client Template

    script(src='/js/vendor/jquery-2.1.0.js')
    script(src='/js/source/main.js')
